$main-color: #20c997;
$alt-color: #fff;
$Head-Text-Color: #252b33;
$text-color: #4c4d4d;
$alt-txt-color: #6c757d;
$title-color: #dc3545;
$rate-color: #ffc107;
$bg-color: #f8f9fa;
$trasition-time: 1s;
$main-txt-font: 20px;
$alt-txt-font: 18px;
$boder-reduis: 10px;
$dark-color: #438A6F;
$inputs-boder-color: #dae1e3;
$inputs-txt-color: #656565;